<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.busticketing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UploadImageActivity"></activity>
        <activity
            android:name=".VerifyEmailActivity"
            android:label="Verify Email" />
        <activity
            android:name=".TermsAndConditions"
            android:label="Terms and conditions" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:label="Update Password" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".BusInformationActivity"
            android:label="Bus Information" />
        <activity android:name=".Pay" />
        <activity
            android:name=".UpdateSubscriptionActivity"
            android:label="Update Ticket" />
        <activity
            android:name=".UserHomeActivity"
            android:label="My Ticket" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>